body {
    background-color: #f9fafc;
    font-family: 'Open Sans', sans-serif;
    color: #69696a;
}

.brand {
    float: left;
    position: absolute;
    margin-top: 10px;
    margin-left: 30px;
    font-size: 18px;
    color: #000000;
    clear: left;
}

.contact,
.about,
.work,
.home {
    float: right;
    padding-top: 10px;
    padding-right: 30px;
    font-size: 15px;
    color: #69696a;
}

.hire {
    float: right;
    padding: 10px 40px 10px 40px;
    margin-right: 32px;
    color: #f9fafc;
    background-color: #000000;
    font-size: 15px;
    border-radius: 25px 25px 25px 25px;
    clear: right;
}

.header {
    float: left;
    color: #000000;
    font-size: 25px;
    display: block;
    margin-top: 150px;
    margin-left: 28px;
    margin-bottom: 0px;
}

.paragraph {
    float: left;
    width: 513px;
    margin-top: 2px;
    margin-right: 0;
    margin-left: 28px;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 15px;
    border-left: 2px solid #69696a;
    clear: left;
}

.circle1 {
    float: right;
    position: absolute;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    background-color: rgba(207, 130, 213, 0.6);
    margin-left: 925px;
    margin-top: 260px
}

.circle2 {
    float: right;
    position: absolute;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    background-color: rgba(247, 136, 167, 0.6);
    margin-top: 175px;
    margin-left: 665px;
}

.circle3 {
    float: right;
    position: absolute;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-color: rgba(247, 193, 162, 0.7);
    margin-left: 860px;
    margin-top: 350px;
}

.scroll {
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #000000;
    color: #f9fafc;
    border-radius: 25px 25px 25px 25px;
    padding: 10px 40px 10px 40px;
    margin-left: 25%;
}